@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');  

* {
    /* box-sizing: border-box;
    outline: 1px solid limegreen !important;  */
    margin: 0;
    padding: 0;
}

 body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: Roboto;
}

header{
   background-color: white;
    height: 60px;
}

footer{
    height: 100px;
     background-color: rgba(178, 178, 178, 0.2);
}

#content{
    flex: 1;
}

.mainblock{
    height: 33.3%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

header{
    display: flex;
    justify-content: right;
}

#links{
    display: flex;
    align-items: center;
    width: 300px;
}


.headerblock{
    display: flex;
    width: 50%;
    justify-content:space-around;
    align-items:center;
}

#image-google {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#search-section {
    height: fit-content;
}

#search-bar {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 20px;

}

#block-3search {
    display: flex;
    align-items: center;

}

#input-search {
    width:100% ;
}

input{
    border: 0 solid;
    width: 100%;
}

.btn-search {
    height: 40px;
    width: 120px;
    background-color: rgba(221, 221, 221, 0.2);
    border-radius: 5px;
    border: 0;
}

#google-language {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
}

.footer-block {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

#footer-block2 {
    display: flex;
    width: 100%;
    
}

.block {
    display: flex;
    width: 50%;
}

#block-der {
    justify-content: flex-end;
}

.footer-block a, p {
    padding-left: 20px;
    padding-right: 20px;
}

#footer-block1 {
    border-bottom: 2px  rgba(221, 221, 221, 1) solid;
}

input:hover {
    border: 1px solid black;
}

.btn-search:hover {
    border: 1px solid rgb(150, 147, 147);
}
